*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headboard__graphics{
    width: 90%;
    height: 30vh;
    margin: auto;
}
.headboard__graphics-container{
    width: 60%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 1em;
    color: black;
    gap: 1em;
}
.headboard__graphics-content{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 76vw;
    height: 50vh;
}
.headboard__graphics-content p {
    color:#808080 ;
}