
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.section__branch{
    width: 80%;
    margin: auto;
}
.section_title{
    display: grid;
    justify-content: center;
}
.section__title-tex{
    text-align: center;
}
.section_conten{
    width: 80%;
    height: 34vh;
    background-color: #F6F6F6; 
    border-radius: 1em;
    
    padding: 3em;
}
.container{
    margin-top: 1em;
    display: flex;
    gap: 1em;
    position: relative;
}
.container__info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container__info-ellipse
{
    background-color: #FFDCE9;
    width: 5em;
    height: 5em;
    border-radius: 80%;
    display: flex;
    align-items: center;
    text-align: center;
}
.container__button{
   padding: 0.3em;
}
.container__info-ellipse h3{
    margin: auto;
    color: #DD7FA1;
}
.container__info-tex p {
    font-size: 0.80em;
    color:#808080 ;
}
.container__button{
    position: absolute;
    top: 0;
    left: 0;
}
.container__info-ellipse-darling{
    background-color: #B1DEFF;
    width: 5em;
    height: 5em;
    border-radius: 80%;
    display: flex;
    align-items: center;
    text-align: center;
}
.container__info-ellipse-darling h3{
    margin: auto;
    color: #3694D8;
}
.container__info-ellipse-green{
    background-color: #C5E8C4;
    width: 5em;
    height: 5em;
    border-radius: 80%;
    display: flex;
    align-items: center;
    text-align: center;
}
.container__info-ellipse-green h3 {
    color: #6EAB6C;
    margin: auto;
}
