
.body-homepage{
    margin: 0;
}
p, h2, h3, h4{
    margin: 0;
}
*{
    user-select: none;
}
p, h2, h3, h4{
    user-select:all;
}
.client-logo, 
.tools-started, 
.features-container, 
.contact-container, 
.connect-networks, 
.connect-account, 
.workers-container{
    margin-top: 5em;
    margin-bottom: 5em;
}
.text--color-gray{
    color: var( --color-s3-light-low);
}
.text--color-white{
    color: var(--color-s4-light-low);
}
.text--color-white, .text--color-gray{
    line-height: 1.4em;
}
/*-------------------- SECTION CLIENT_LOGOS --------------------*/
.client{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 80%;
    margin: auto;
}
.client-image img{
    width: 10vw;
}
/*-------------------- SECTION CLIENT_LOGOS --------------------*/
/*-------------------- SECTION TOOLS_SERVICES --------------------*/
.tools{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
}
/* .tools-started{
    padding: 10vw 0;
} */
.tools__text, .tools__text-checks{
    display: flex;
    gap: 2.5vw;
    flex-direction: column;
}
.tools__text-title{
    width: 24vw;
    font-size: 3.2vw;
}
.tools__text-content {
    text-wrap: balance;
}

.tools__graphics-img, .tools__Graphics{
 position: relative;
}
.tools__item{
    display: flex;
    gap: .5vw;
    align-items: center;
}
.tools__item img{
    width: 1.5vw;
}

.img-gGraphic{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 40%;
}
.img-gCalendar{
    width: 100%;
    position: relative;
    z-index: 2;
}
.tools__graphics-tag{
    background-color: var(--color-p1-shadow-height);
    background-size: contain;
    width: 20vw;
    color: white;
    padding: 1vw 1.5vw;
    border-radius: 0.7vw;
    position: absolute;
    top: 23vw;
}
.tools__graphics-text{
    font-size: 1.7vw;
    margin: 0;
}
.tools__graphics-text span{
    font-size: 1.5vw;
    font-weight: 600;
}

/*-------------------- SECTION TOOLS_SERVICES --------------------*/
/*-------------------- SECTION FEATURES --------------------*/
.features__title{
    text-align: center;
    padding: 1vw 0;
}
.features{
    display: grid;
    grid-template-columns: repeat(3 , 26.66%);
    gap: 1em;
    justify-content: center;
}
.features__content{
    border: .1em solid;
    border-color: var( --color-s4-light-low);
    padding: 1.5em;
    border-radius: 1em;
}
.features__content-title{
    margin-top: .3em;
    margin-bottom: .3em;
}
.features__content-icon{
    padding-top: 1em;
}
.features__content-tex{
    margin-top: 1.5em;
}
.features__content-description{
    padding-bottom: 1.5em;
    border-bottom: .14em solid;
    border-color: var(--color-border-s1);
}
.features__content-icon{
    display: flex;
    justify-content: space-between;
}
.features__icon-img img{
    width: 2em;
}
/*-------------------- SECTION FEATURES --------------------*/
/*-------------------- SECTION CONTACT --------------------*/
.contact{
    position: relative;
}
.contact__bgimg{
    width: 100%;
}
.contact__content{
    width: 80%;
    margin: auto;
    display: grid;
    gap: 3em;
    margin-top: -25%;
}
.contact__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact__graphic{
    position: relative;
}
.contact__graphic-bgimg
{
    border-radius: 1em;
    overflow: hidden; 
}
.contact__graphic-bg{
    width: 100%;
}
.contact__header-text{
    color: white;
}
.contact__graphic-button{
    background-color: var(--color-s2-white);
    border-radius: 100em;
    position: absolute;
    bottom: 2em;
    left: 2em;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 0 .5em;
    padding-right: 1.5em;
}
.contact__graphic-button img{
    width: 3.5em;
    margin: .5em 0 .5em 0 ;
}
.contact__graphic-span{
    color: var(--color-p1-shadow-height);
}
/*-------------------- SECTION CONTACT --------------------*/
/*-------------------- SECTION CONNECT --------------------*/
.button--shadow:hover{
    box-shadow: inset 0px 0px .5em rgba(255, 255, 255, 1);
    transition: box-shadow .5s ease-in-out;
}
.connect{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    width: 70%;
    margin: auto;
}
.connect__graphic-img img{
    width: 100%;
}
.connect__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}
/*-------------------- SECTION CONNECT --------------------*/
/*-------------------- SECTION ACCOUNT --------------------*/
.account{
    display: grid;
    grid-template-columns: 35% auto;
    width: 80%;
    margin: auto;
}
.account__content-info{
    background-image: url(../img/background-degraded-2.png);
    background-size: 100% 100%;
    color: white;
    padding: 0 2em;
    display: grid;
    gap: 1em;
    place-content: center;
    border-radius: .8em;
}
.account__content-steps{
    padding: 0 3em;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}
.account__steps-text{
    display: grid;
    margin-top: .5em;
}
.button--small-plus{
    aspect-ratio: 90/30;
}
.account__steps h2{
    margin-bottom: .4em;
}
/*-------------------- SECTION ACCOUNT --------------------*/
/*-------------------- SECTION WORKERS --------------------*/

.workers{
    background-color: var(--color-s4-light-low);
    width: 80%;
    margin: auto;
    display: grid;
    padding: 4em;
    text-align: center;
    border-radius: 1.2vw;
}
.workers__slider{
    display: grid;
    grid-template-columns: 15% auto 15%;
    align-items: center;
    justify-items: center;
    height: 20vw;
    margin-top: 1em;
}
.workers__person{
    display: grid;
    overflow-y: auto;
    scroll-behavior:smooth;
    grid-template-columns: 100% 100%;
    align-items: center;
}

.workers__person::-webkit-scrollbar {
    -webkit-appearance: none;
}

.workers__person::-webkit-scrollbar:vertical {
    width:10px;
}

.workers__person::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 


.workers__person-item{
    text-align: center;
    width: 100%;
    display: grid;
    gap: .5em;
    /* scroll-margin: 0;
    scroll-snap-align: y mandatory; */
}

.workers__person-img{
    position: relative;
    width: max-content;
    margin: auto;
}

.workers__person-photo{
    width: 6em;
    overflow: hidden;
    border-radius: 1000px;
}
.workers__icon-comillas img{
    width: 1em;
}
.workers__icon-comillas{
    position: absolute;
    left: -10%;
    bottom: 8%;
    background-color: var(--color-p1-shadow-height);
    aspect-ratio: 1/1;
    display: grid;
    place-content: center;
    border-radius: 100px;
    padding: 0.5em;
}
.workers__icon-star img{
    height: 1.2em;
}
/*---------- WORKERS_BUTTON ----------*/
.workers__button{
    background-color: white;
    color: black;
    height: 2.5em;
    width: 2.5em;
    display: grid;
    place-content: center;
    border-radius: 100px;
    transition: background-color .2 ease-in-out;
    cursor: pointer;
}
.workers__button-icon{
    width: 1em;
}
.workers__button:hover{
    background-color: var(--color-p1-shadow-height);
    transition: background-color .2s ease-in-out;
}
.workers__button > img{
    filter: brightness(0);
    transition: background-color 2s ease-in-out;
}
.workers__button:hover > img{
    filter: brightness(100);
    transition: background-color .2s ease-in-out;
}
.workers_button-left > img{
    transform: rotate(90deg);
}
.workers_button-right > img{
    transform: rotate(-90deg);
}
/*---------- WORKERS_BUTTON ----------*/
.workers__company{
    width: 100%;
    text-align: center;
}
.workers__company-statistics{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.workers__footer{
    display: grid;
    justify-items: center;
    gap: 1.5em;

}
.workers__company-statistics, .workers__slider{
    border-bottom: .12em solid gainsboro;
}
.workers__company{
    display: grid;
    gap: 3em;
}
.workers__company-statistics, .workers__slider{
    padding-bottom: 3em;
}
.workers__company-title{
    padding-top: 1.5em;
}
/*-------------------- SECTION WORKERS --------------------*/