*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner{
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
    margin-top: 2em;
}
.banner__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Fondo__Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 50vh;
    border-radius: 2em;
    color: #fff;
}
samp{
    color: #5956E9;
}
.main{
    display: flex;
    justify-content: center;
}
.lisences{
    border: 1px solid red;
    width: 82vw;
    height: 60vh;
}
.main__icon ,
.main__photo,.main__font
{
    display: flex;
}

.left{
    border: 1px solid blue;
}
.main__photo,.main__font .left{
    width: 60vw;
    height: 20vh; 
}