.button--small-sapecRatio{
    aspect-ratio: 10/3;
    
}
.container__button{
   display: flex;
   justify-content: end;
}
.headboard{
    max-height: 20em;
    margin-bottom: 15em;
}
.headboard__graphics-container{
    background-color: white;
    color: black;
    position: relative;
    z-index: 10;
    padding: 2em 10em;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: .5em;
    border-radius: 1em;
}
.headboard__graphics-container{
    filter: drop-shadow(0 0 .4em rgba(0, 0, 0, .2) );
}
.headboard__graphics-content-dropshadow::after{
    height: 70%;
    width: 70%;
    top: 23em;
    opacity: .2;
    position: absolute;
    z-index: 0;
}