*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
.banner{
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
    margin-top: 2em;
}
.banner__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Fondo__Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 50vh;
    border-radius: 2em;
    color: #fff;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main__plan{
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 0.4em;

}
.main__plan_izquierda {
    margin-top: 1em;
    width: 40vw;
    padding: 1em;
}
.main__plan_izquierda h4{
    margin-bottom: 1em;
}
.main__plan_izquierda p{
    font-size: 0.8em;
    margin-bottom: 1em;
    color: #808080;
}
.select_box{
    font-size: 0.7em;
    margin-top: 1.5em;
    width: 25vw;
    height: 7vh;
    border-radius: 1.9em;
    padding: 1em;
}
.container__button{
    margin-top: 1em;
    
}
.main__plan_derecha{
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    
}
.main__plan_derecha h3, p {
    margin-bottom: 1em;
}
.main__plan_derecha h3{
    font-size: 1.3em;
}
.main__plan_derecha p{
    color: #808080;
    font-size: 0.8em;
}
.infomacion img{
    width: 1vw;
    height: 2vh;
}
.infomacion{
    display: flex;
    gap: 1em;
    margin-top: 1em;
}
.infomacion h4{
    font-size: 1.1em;
}
