
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
<<<<<<< HEAD

.header__content,
.header__logo,
.header__link,
.header__tienda{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.header__content{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 90vw;
    margin: auto;
    margin-top: 1em;
}
.header__logo img{
    width: 2em;
}
.header__tienda img {
    width: 2em;
}
.header__link img{
    width: .7em;
    filter: contrast(100);    
}

.section__fondo img {
    width: 90vw;

}

.header__content,
.header__logo{
    gap: 1em;
}
.header__link{
    gap: 2em;
}
.header__tienda{
    gap: 0.5em;
}
.header__link{
    text-decoration: none;
    color: black;
}

.section{
    margin-top: 5em;
}
.section__fondo{
    width: 100%;
    margin-top: 1em;
    position: relative;
    display: inline-block;
    text-align: center;
    gap: 1em;
}
.section__texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50% ,-0%);
}
.section__texto h2{
    font-size: 2.5em;
    color: #FFF;
}
.section__texto p{
    color: #FFF;
}
a{
    font-size: 1em;
}
.color--gris{
    color: #797979;
}
.banner{
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
    margin-top: 2em;
}
.banner__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Fondo__Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 50vh;
    border-radius: 2em;
    color: #fff;
}
=======
>>>>>>> da453d89928869bf114d73db7f8f619a2134bc17
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.header.header {
    margin-bottom: 10em;
}
.section__plan{
    border: 0.1em solid #DCDCDC ;
    border-radius: 1em;
    width: 23vw;
    height: 75vh;
    padding: 1em;
    align-self: center;
   
}

.section__plan_opcione {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3em;
}
.section__plan__valor{
    margin-top: 2em;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 4em;
}
.secion__veneficio{
    margin-top: 1em;
}
.veneficio{
    display: flex;
    margin-top: 0.8em;
    gap: 0.4em;

}
.veneficio img{
    width: 1vw;
    height: 2vh;
}
.section__plan__valor h6,
.veneficio .off{
    color: #808080;
}
.container__button{
    margin-top: 1em;
}
.section__seguridad{
    align-items: center;
    display: flex;
    justify-content: center;
}
.section__seguridad__inform{
    width: 73vw;
    height: 40vh;
    display: flex;
    margin-top: 5em;
    gap: 1em;
    background-color: #F6F6F6;
    border-radius: 1em;
    padding: 1.5em;
}
.section__left{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#5956E9;
    border-radius: 1em;
    gap: 0.7em;
}
.section__left h3{
    color: #FFFFFF;
    text-align: center;
}
.section__left img{
    width: 9vw;
    height: 20vh;
}
.section__right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.section__right p{
    color: #808080;
}

.button--princing-aspect{
    aspect-ratio: 15/3;
    margin: auto;
}
.compare_plan{
    border: 2px solid red;
}
.title{
    display: flex;
    justify-content: center;

}

.plan{
    display: grid;
    justify-content: center;

    border-radius: 1em;
}
.plan__titulo{
    display: grid;
    justify-content: center;
}
.plan__encabezado,.plan__checks
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: .1em solid #D3D3D3;
    border-bottom: .1em solid #D3D3D3 ;
    padding: 1em;
}
.plan{
    margin-top: 2em;
    margin-bottom: 7em;
}
.plan__titulo{
    margin-top: 3em;
    margin-bottom: 4em;
}
.plan__encabezado{
    border: 0.1em solid #D3D3D3;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em; 
}
.plan__divicion{
    background-color: #F6F6F6;
    color: #5956E9;
    padding: 1em;
}
.plan__checks-social{
    text-align: left;
}
.plan__checks{
    color: #797979;
    border: 0.1em solid #D3D3D3 ;
    
}
.checks img{
    width: 1.5vw;
}
samp{
    font-size: .9vw;
}
.plan__footer{
    padding: 1em;
    text-align: center;
    border: 0.1em solid #D3D3D3;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}