*{
    margin: 0;
    padding: 0;
    
}
.section__fondo{
    width: 100%;
    margin-top: 1em;
    position: relative;
    display: inline-block;
    text-align: center;
    gap: 1em;
}
.section__texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50% ,-0%);
}
.section__texto h2{
    font-size: 2.5em;
    color: #FFF;
}
.section__texto p{
    color: #FFF;
}
a{
    font-size: 1em;
}
.color--gris{
    color: #797979;
}
.banner{
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
    margin-top: 2em;
}
.banner__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Fondo__Header.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90vw;
    height: 50vh;
    border-radius: 2em;
    color: #fff;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main__plan{
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 0.4em;

}
.main__plan_izquierda {
    margin-top: 1em;
    width: 40vw;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    background-color: #F6F6F6 ;
    border-radius: 1em;
}
.main__plan_izquierda h4{
    margin-bottom: 1em;
}
.main__plan_izquierda p{
    font-size: 0.9em;
    color: #808080;
}
.select_box{
    font-size: 0.7em;
    width: 25vw;
    height: 7vh;
    border-radius: 1.9em;
    padding: 1em;
    appearance: none;
    border: 0.1em solid #DCDCDC ;
}
.main__plan-box{
    position: relative;
}
.select__flecha{
    position: absolute;
    width: 1.1em;
    top: 0;
    bottom: 0;
    right: 5%;
    margin: auto;
}
.select_box:focus{
    outline: 0;
}
.container__button{
    margin-top: 1em;
    
}
.main__plan_derecha{
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    
}
.main__plan_derecha h3, p {
    margin-bottom: 1em;
}
.main__plan_derecha h3{
    font-size: 1.3em;
}
.main__plan_derecha p{
    color: #808080;
    font-size: 0.8em;
}
.infomacion img{
    width: 1vw;
    height: 2vh;
}
.infomacion{
    display: flex;
    gap: 1em;
    margin-top: 1em;
}
.infomacion h4{
    font-size: 1.1em;
}

